
  <ul class="pager">
    {{#if next}}
      <li class="previous"><a href="#">&larr; Articles plus anciens</a></li>
    {{else}}
      <li class="previous disabled"><a href="#">&larr; Articles plus anciens</a></li>
    {{/if}}


    {{#if prev}}
      <li class="next"><a href="#">Newer &rarr;</a></li>
    {{else}}
      <li class="next disabled"><a href="#">Newer &rarr;</a></li>
    {{/if}}
  </ul>
